body{
  background: linear-gradient(45deg, green, blue, red);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
canvas{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
}
#collisionCanvas{
  opacity: 0;
}
