
<footer>
    <a href="https://linktr.ee/alansaji2003"><h2>©Alan Saji</h2></a>
    <a href='/about'><p>about</p></a>
</footer>
 <a href="/work"><button style="margin-left: 830px;"><p><%= goback %></p></button></a>
</body>
</html>